:root {
  --z-back: -10;
  --z-intermedio: 5;
  --z-normal: 10;
  --z-tooltip: 20;
  --z-fixed: 30;
  --z-modal: 40;
  --font-size: 16px;
  --main-font: "Nunito";
  --main-alternate-font: sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:hover,
*:active,
*:focus {
  outline: none;
}

html {
  font-size: var(--font-size);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.cursor {
  cursor: pointer;
}

.header {
  background-color: #00215B;
  position: fixed;
  z-index: var(--z-fixed);
  width: 100%;
}

.esquema {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.navbar {
  height: 88px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

@media screen and (min-width: 1060px) {
  .navbar {
    grid-template-columns: 1fr 870px;
  }
}

.navbar__logo {
  justify-self: start;
}

.navbar__logo-hero {
  width: 10rem;
}

.navbar__menu {
  justify-self: end;
}

.main-nav {
  position: fixed;
  height: calc(100vh - 88px);
  top: 88px;
  width: 80vw;
  right: -80vw;
  background-color: green;
  transition: right 0.3s;
  z-index: var(--z-fixed);
}

@media screen and (min-width: 1060px) {
  .main-nav {
    position: static;
    background: transparent;
    height: auto;
    width: auto;
  }
}

.main-nav.show {
  right: 0;
}

.menu__item:last-child > a {
  background: #ffb02a;
  border: 1px solid #ffb02a;
  padding: 0.8rem 1rem;
  border-radius: 5rem;
  cursor: pointer;
}

.menu__item-link {
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}

.menu {
  list-style: none;
}

@media screen and (min-width: 1060px) {
  .menu {
    display: flex;
  }
}

@media screen and (min-width: 1060px) {
  .menu__item {
    padding: 1rem;
  }
}

@media screen and (min-width: 1060px) {
  .menu__item:last-child {
    padding-right: 0px;
  }
}

@media screen and (min-width: 0px) {
  .hamburger {
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, -webkit-filter;
    transition-property: opacity, filter;
    transition-property: opacity, filter, -webkit-filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
  }

  .hamburger:hover {
    opacity: 0.7;
  }

  .hamburger.is-active:hover {
    opacity: 0.7;
  }

  .hamburger.is-active .hamburger__inner,
  .hamburger.is-active .hamburger__inner::before,
  .hamburger.is-active .hamburger__inner::after {
    background-color: #fff;
  }
}

@media screen and (min-width: 1060px) {
  .hamburger {
    display: none;
  }
}

.hamburger__box {
  width: 35px;
  height: 20px;
  display: inline-block;
  position: relative;
}

.hamburger__inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger__inner,
.hamburger__inner::before,
.hamburger__inner::after {
  width: 35px;
  height: 4px;
  background-color: #fff;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger__inner::before,
.hamburger__inner::after {
  content: "";
  display: block;
}

.hamburger__inner::before {
  top: -10px;
}

.hamburger__inner::after {
  bottom: -10px;
}

.hamburger--slider .hamburger__inner {
  top: 2px;
}

.hamburger--slider .hamburger__inner::before {
  top: 8px;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.15s;
}

.hamburger--slider .hamburger__inner::after {
  top: 16px;
}

.hamburger--slider.is-active .hamburger__inner {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--slider.is-active .hamburger__inner::before {
  transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  opacity: 0;
}

.hamburger--slider.is-active .hamburger__inner::after {
  transform: translate3d(0, -16px, 0) rotate(-90deg);
}

.banner {
  background-color: #00AAF7;
}

.l-home {
  padding-top: 88px;
}

.button a {
  display: inline-block;
  background: #ffb02a;
  width: auto;
  color: #fff;
  border: 1px solid #ffb02a;
  padding: 0.5em 1em;
  border-radius: 5rem;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
}

.button a:hover {
  background: #ffb02a;
  color: #fff;
}

.wrap-slider {
  padding: 20px 0px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  height: 550px;
  align-items: center;
  color: #fff;
}

@media screen and (min-width: 992px) {
  .wrap-slider {
    padding: 0px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

.wrap-slider__text {
  grid-row: 1/2;
  grid-column: 1/2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 20px;
}

@media screen and (min-width: 992px) {
  .wrap-slider__text {
    grid-row: 1/2;
    grid-column: 1/2;
  }
}

.wrap-slider__hero {
  grid-row: 2/3;
  grid-column: 1/2;
}

@media screen and (min-width: 992px) {
  .wrap-slider__hero {
    grid-row: 1/2;
    grid-column: 2/3;
  }
}

.wrap-slider__hero img {
  width: 90%;
  margin: 0 auto;
}

@media screen and (min-width: 992px) {
  .wrap-slider__hero img {
    width: 86%;
  }
}

.wrap-slider__text h1:before {
  content: ">";
  color: #ffb02a;
  padding-right: 0.25em;
}

.wrap-somos {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 992px) {
  .wrap-somos {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

.wrap-somos__text {
  grid-row: 1/2;
  grid-column: 1/2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 20px;
}

@media screen and (min-width: 992px) {
  .wrap-somos__text {
    grid-row: 1/2;
    grid-column: 2/3;
  }
}

.wrap-somos__hero {
  grid-row: 2/3;
  grid-column: 1/2;
}

@media screen and (min-width: 992px) {
  .wrap-somos__hero {
    grid-row: 1/2;
    grid-column: 1/2;
  }
}

.wrap-somos__hero img {
  display: block;
  width: 90%;
  margin: 0 auto;
}

.wrap-nuestros {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  height: 550px;
  align-items: center;
}

@media screen and (min-width: 992px) {
  .wrap-nuestros {
    padding: 0px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

.wrap-nuestros__text {
  grid-row: 1/2;
  grid-column: 1/2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 20px;
}

@media screen and (min-width: 992px) {
  .wrap-nuestros__text {
    grid-row: 1/2;
    grid-column: 1/2;
  }
}

.wrap-nuestros__hero {
  grid-row: 2/3;
  grid-column: 1/2;
}

@media screen and (min-width: 992px) {
  .wrap-nuestros__hero {
    grid-row: 1/2;
    grid-column: 2/3;
  }
}

.slick-dots {
  bottom: 15px;
}

.slick-dots li {
  width: 4em;
  height: 0.5em;
}

.slick-dots li button {
  width: 100%;
  height: 100%;
}

.slick-dots li button:before {
  transition: 0.3s;
  content: "";
  background-color: #fff;
  width: 100%;
  height: 100%;
  border-radius: 1em;
}

.slick-dotted.slick-slider {
  margin-bottom: 0px;
}

